//header
.header {
   flex: 0 0 160px;
   position: relative;
   z-index: 2;

   &__body {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 160px;
      background-color: $white;
      z-index: 2;
   }

   &__row {
      flex: 0 0 80px;
      // display: flex;
      display: grid;
      grid-template-columns: minmax(20%, 25%) 1fr minmax(20%, 25%);
      // padding: 0 50px;
      border-bottom: 1px solid $systemNeutral;
   }

   &__upper {}

   &__logo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 32px;
      padding-right: 24px;
      padding-left: 50px;

      a {
         display: block;
         flex: 0 0 119px;
      }

      p {
         flex: 0 1 159px;
         color: $textSecondary;
         font-size: 13px;
         line-height: 130%;
      }
   }

   &__cell {
      border-right: 1px solid $systemNeutral;
      display: flex;
      align-items: center;

      &:last-child {
         border-right: 0;
      }

      &_small {
         // flex: 0 0 calc(384 / 1920 * 100%);
      }

      &_upper {
         display: flex;
      }

      &_big {
         // flex: 1 0 auto;
      }
   }

   &__search {
      height: 100%;
      flex: 0 0 50%;
      border-right: 1px solid $systemNeutral;
      padding: 0 28px;
      display: flex;
      align-items: center;
      gap: 12px;

   }

   &__address {
      padding: 0 28px;
      flex: 0 0 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
   }

   &__callback {
      padding-left: 33px;
      padding-right: 10px;
      justify-content: flex-start;
      gap: 24px;
      white-space: nowrap;
   }

   &__media {
      display: flex;
      align-items: center;
      gap: 8px;

      .header__order {
         display: none;
      }
   }

   &__icons {
      display: flex;
      gap: 4px;
   }

   &__tg {}

   &__whatsapp {}

   &__phone {
      color: $textPrimary;
      font-size: 16px;
      font-weight: 500;
      line-height: 130%;
      transition: 0.3s;

      &:hover {
         color: $statesNormal;
      }
   }

   &__order {
      color: $statesNormal;
      font-size: 15px;
      font-weight: 500;
      line-height: 130%;
   }

   &__down {}

   &__catalog {
      justify-content: space-between;
      padding-right: 50px;
      padding-left: 50px;
      line-height: 130%;

      &_open {
         display: flex;
         align-items: center;
         gap: 12px;
         color: $textPrimary;
         font-size: 15px;
         font-weight: 500;
         text-transform: uppercase;
         cursor: pointer;
         transition: 0.3s;

         &:hover {
            color: $statesNormal;
         }
      }

      &_label {
         color: $textSecondary;
         font-size: 13px;
      }
   }

   &__nav {
      display: flex;
      justify-content: center;
      padding: 0 10px;
   }

   &__list {
      display: flex;
      gap: 40px;

   }

   &__link {
      color: $textPrimary;
      font-size: 15px;
      font-weight: 500;
      line-height: 130%;
      text-transform: uppercase;
      transition: 0.3s;

      &:hover {
         color: $statesNormal;
      }
   }

   &__activities {
      padding-left: 50px;
      padding-right: 50px;
      position: relative;
   }

   @media(max-width: 1600px) {
      &__logo {
         padding-left: calc(16px + 34 * ((100vw - 1200px) / (1600 - 1200)));
      }

      &__search {
         padding: 0 calc(16px + 12 * ((100vw - 1200px) / (1600 - 1200)));
      }

      &__address {
         padding: 0 calc(16px + 12 * ((100vw - 1200px) / (1600 - 1200)));
      }

      &__callback {
         padding-left: calc(16px + 17 * ((100vw - 1200px) / (1600 - 1200)));
      }

      &__catalog {
         padding: 0 calc(16px + 34 * ((100vw - 1200px) / (1600 - 1200)));
      }

      &__list {
         gap: calc(20px + 20 * ((100vw - 1200px) / (1600 - 1200)));
      }

      &__activities {
         padding: 0 calc(16px + 34 * ((100vw - 1200px) / (1600 - 1200)));
      }
   }

   @media(max-width: 1512px) {
      &__logo {
         p {
            font-size: calc(11px + 2 * ((100vw - 1200px) / (1512 - 1200)));
         }
      }

      &__media {
         flex-direction: column-reverse;
         align-items: flex-start;
      }

      &__link {
         font-size: calc(12px + 3 * ((100vw - 1200px) / (1512 - 1200)));
      }
   }

   @media(max-width: 1200px) {
      &__row {
         grid-template-columns: minmax(20%, 24%) 1fr minmax(20%, 24%);
      }

      &__logo {
         gap: 16px;

         a {
            flex: 0 1 auto;
         }

         svg {
            width: 90px;
         }

         p {
            font-size: 11px;
         }
      }

      &__link {
         font-size: 12px;
      }

      &__logo,
      &__callback {
         padding-left: 16px;
         padding-right: 16px;
      }

      &__search,
      &__address {
         padding: 0 16px;
      }

      &__catalog,
      &__activities {
         padding: 0 16px;
      }

      &__catalog {
         justify-content: unset;
         gap: 16px;
      }

      &__activities {
         gap: calc(10px + 10 * ((100vw - 992px) / (1200 - 992)));
      }

      &__order {
         display: none;
      }

      &__media {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         align-items: center;
         grid-column-gap: 16px;
         grid-row-gap: 4px;

         .header__order {
            display: block;
         }
      }

      &__phone {
         order: 1;
      }

      &__icons {
         order: 2;
      }

      &__order {
         order: 3;
      }
   }

   @media(max-width: 992px) {

      flex: 0 0 60px;

      &__body {
         height: 60px;
         padding: 0 20px;
         border-bottom: 1px solid $systemNeutral;
      }

      &__row {
         height: 100%;
         flex: unset;
         border: 0;
         display: flex;
         align-items: center;
         justify-content: space-between;
      }

      &__logo {
         padding: 0;

         svg {
            width: 90px;
            flex: unset;
         }

         p {
            display: none;
         }
      }

      &__callback {
         padding: 0;

         .header__order {
            display: none;
         }
      }

      &__media {
         display: flex;
         flex-direction: row;
      }

      &__icons {
         order: 1;
      }

      &__phone {
         order: 2;
      }

      &__cell {
         border-right: 0;

         &_upper {
            display: none;
         }
      }

      &__down {
         display: none;
      }
   }

   @media(max-width: 345px) {
      &__icons {
         display: none;
      }
   }
}

// header search
.header-search {

   &__btn {
      background-color: transparent;
   }

   &__input {
      flex: 1 0 auto;
      background-color: transparent;
   }
}

// header actions
.header-activities {
   display: flex;
   gap: 36px;

   &__graphics {}

   &__item {
      position: relative;
      flex: 0 0 44px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
         background-color: #F6F6FA;
      }
   }

   &__label {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(50%);
      border-radius: 4px;
      background-color: $systemBrand;
      color: $textPrimary;
      font-size: 13px;
      font-weight: 500;
      line-height: 130%;
      padding: 0 4px;
      max-height: 16px;
   }

   &__favorites {}

   &__cart {}

   &__profile {}
}

// header mobile
.header-mobile {
   display: none;
   position: fixed;
   width: 100%;
   height: 64px;
   background-color: $white;
   bottom: 0;
   left: 0;
   padding: 10px 0;
   border-radius: 4px 4px 0 0;
   transition: 0.3s;
   z-index: 2;

   &.active {
      box-shadow: 0px -4px 30px 0px rgba(0, 0, 0, 0.10);
      border-radius: 16px 16px 0 0;
   }

   &__list {
      display: flex;
      justify-content: space-between;
   }

   &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2px;
      text-align: center;
      flex: 0 0 72px;
      cursor: pointer;

      &_burger {
         justify-content: flex-end;

         &.active {
            span {
               color: $statesNormal;
            }

            .header-mobile__burger {
               span {
                  opacity: 0;
               }

               &::before,
               &::after {
                  background-color: $statesNormal
               }

               &::before {
                  transform: rotate(45deg) translate(5px, 7px);
               }

               &::after {
                  transform: rotate(-45deg) translate(3px, -6px);
               }
            }
         }
      }
   }

   &__burger {
      position: relative;
      width: 24px;
      height: 24px;

      span {
         display: block;
         width: 100%;
         height: 2px;
         background-color: $iconSecondary;
         position: absolute;
         top: 50%;
         left: 0;
         transform: translateY(-50%);
         transition: 0.3s;
      }

      &::before,
      &::after {
         content: "";
         display: block;
         width: 100%;
         height: 2px;
         background-color: $iconSecondary;
         position: absolute;
         left: 0;
         transition: 0.3s;
      }

      &::before {
         top: 4px;
      }

      &::after {
         bottom: 4px;
      }
   }

   @media(max-width: 992px) {
      display: block;
   }

   @media(max-width: 360px) {
      &__item {
         flex: 0 0 20%;
      }

   }
}

// burger menu
.header-menu {
   display: none;
   position: fixed;
   top: 100%;
   left: 0;
   transition: 0.3s;
   width: 100%;
   height: calc(100% - 60px);
   background-color: $white;

   &.active {
      top: 60px;
   }

   &__wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
   }

   &__address {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      padding: 0 20px;
      height: 60px;
      border-bottom: 1px solid $systemNeutral;

      color: $textPrimary;
      font-size: 15px;
      line-height: 130%;
   }

   &__list {
      padding: 36px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 36px;
      flex: 1 0 auto;
      border-bottom: 1px solid $systemNeutral;

      li {
         list-style: none;
      }
   }

   &__link {
      color: $textPrimary;
      font-size: 15px;
      font-weight: 500;
      line-height: 130%;
      text-transform: uppercase;
   }

   &__order {
      display: block;
      padding: 12px 20px;
      color: $textPrimary;
      font-size: 15px;
      font-weight: 500;
      line-height: 130%;
      border-radius: 4px;
      border: 1px solid rgba(139, 191, 31, 0.40);
   }

   &__row {
      padding-bottom: 64px;
      display: flex;
   }

   &__item {
      flex: 0 0 33.3333%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 18px;
      border-right: 1px solid $systemNeutral;
   }

   @media(max-width: 992px) {
      display: block;
   }

   @media(max-width: 360px) {
      &__address {
         gap: calc(6px + 6 * ((100vw - 320px) / (360 - 320)));
         font-size: calc(13px + 2 * ((100vw - 320px) / (360 - 320)));
      }
   }
}